.auth {

  * {
    font-family: Raleway, sans-serif;
  }

  .title-container {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-title {
    font-size: 100px;
  }

  .text-yellow {
    color: #F5DF4D;
  }

  .text-gray {
    color: #939597;
  }

  .main-container {
    display: flex;
    width: 1176px;
    margin-right: auto;
    margin-left: auto;
  }

  .sign-up-form {
    display: flex;
    flex: 0 0 40%;

  }

  .form-background {
  }

  .form {
    position: relative;
    width: 374px;
    height: 374px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: -24px -18px #C7B9FF, 0 2px 5px 1px rgba(203, 192, 159, 0.6);

    background: #FFFFFF;
    border-radius: 8px;
  }

  .input-container {
    padding: 43px 66px;
  }

  .email-input {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .label {
    width: 100%;
    display: flex;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #4F4F4F;

    margin-bottom: 16px;
  }

  input {
    display: flex;
    margin-bottom: 24px;

    width: 100%;
    height: 46px;

    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input:focus-visible {
    outline-color: #F5DF4D !important;
  }

  input[type="email"] {
    font-size: 18px;
  }

  input[type="password"] {
    color: #F5DF4D;
    font-size: 48px;
  }

  .password-input {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .action-container {

  }

  .button {
    display: flex;
    width: 100%;
  }

  .submit-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    width: 228px;
    height: 40px;

    background: #F5DF4D;
    border-radius: 10px;
    border-color: transparent;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    color: #4F4F4F;


    -webkit-appearance: none;
    background: linear-gradient(to right, #F5DF4D 0%, #E6DEFF 50%, #C7B9FF 100%);
    background-size: 600%;
    box-shadow: 0 0.5rem 1rem rgba(203, 192, 159, 0.6);
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button:hover {
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 1.8s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  button:active {
    font-size: 13px;
    background: #C7B9FF;
    box-shadow: 0 0.1rem 0.6rem rgba(203, 192, 159, 0.6);
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100%;
    }
  }


  .action-subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 16px;
  }

  .link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #4F4F4F;
    text-decoration: none;
  }

  .link:active {
    color: #F5DF4D;
    font-size: 16px;
  }

  .link:hover {
    font-size: 16px;
  }

  .picture {
    display: flex;
    flex: 0 0 60%;
  }

  .image-container {

  }

  .main {
    width: 100%;
  }

}

