.v-menu__content {
    .v-select-list {
        .v-list-item--active {
            color: #F5DF4D99 !important;
        }
    }
}

.v-card {
    fieldset {
        border-width: 0 !important;
    }
}

.modal-shadow {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.39);
    .modal::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
    }

    .modal::-webkit-scrollbar-track {
        background: #FFFFFF;        /* color of the tracking area */
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .modal::-webkit-scrollbar-thumb {
        background: rgba(245, 223, 77, 0.6);    /* color of the scroll thumb */
        border-radius: 30px;       /* roundness of the scroll thumb */
    }
    .modal {
        background: #fff;
        border-radius: 8px;
        width: 628px;
        height: 628px;
        overflow-y: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 36px;
        textarea {
            margin-top: 24px;
            margin-bottom: 43px;
            font-family: Raleway;
            font-size: 32px;
            font-weight: 400;
            line-height: 32px;
            color: #000000;
            height: 34px;
            resize: none;
        }
        textarea:focus{
            outline: none;
        }
        .grid {
            display: grid;
            grid-template-columns: 188px 362px;
            p, label,input {
                font-family: Raleway;
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                color: #939597;
                margin-bottom: 23px;
            }
            input {
                color: #333333;
                width: 150px;
                margin-top: -5px;
            }

        }

        .select-people {
            .v-chip {
                background-color:  #F5DF4D99;
            }
            .v-icon {
                color:  #F5DF4D99 !important;
            }
        }
        .grid-2 {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 146px 26px 116px 26px 130px;

            input {

                z-index: -1;
                opacity: 0;
            }
            input+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
            }
            input+label::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #F5DF4D;
                border-radius: 50%;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            input:checked+label::before {
                background-image: url("../../public/images/radio.svg");
                background-size: 20px;
                text-align: center;
            }
            p {
                margin-top: 2px;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 400;
                line-height: 18px;
                color: #939597;
            }

            label {
                font-family: Raleway;
                font-size: 18px;
                font-weight: 400;
                color: #333333;
            }
        }

        .checkbox-row {
            display: flex;
            margin-bottom: 15px;

            .customized-checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
                +label {
                    display: inline-flex;
                    user-select: none;
                }
                +label::before {
                    content: '';
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border-radius: 4px;
                    border: 1px solid #BDBDBD;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                }

            }
            .customized-checkbox:checked+label::before {
                background-image: url("../../public/images/checkMark.svg");
            }
            textarea {
                font-family: Raleway;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #939597;
                margin-bottom: 23px;
                margin-top: 0;
                width: 294px;
                height: 73px;
                margin-left: 158px;
                border: 1px solid #E0E0E0;
                border-radius: 6px;
                padding-top: 8px;
                padding-left: 8px;
            }
            .trash {
                margin-left: 28px;
                margin-top: -25px;
            }
        }

        .add-checkbox {
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: #939597;
            margin-top: 8px;
        }

        .plain-text {
            .text {
                width: 482px;
                min-height: 150px;
                border: 1px solid #E0E0E0;
                border-radius: 6px;
                padding: 8px;
                margin: 0;
                font-family: Raleway;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #939597;
            }

            ::placeholder {
                font-family: Raleway;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #939597;
                margin-top: 8px;
                margin-left: 8px;
            }
        }

        .add-file {
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #939597;
            margin-top: 25px;
            input[type="file"]{
                position: absolute;
                left: -400px;
            }
            .paperclip {
                height: 15px;
                width: 15px;
                margin-right: 9px;
                margin-top: -5px;
            }
        }
        .file {
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #939597;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &-content {
            margin-bottom: 20px
        }

        &-footer {
            &__button {
                background-color: #0971c7;
                color: #fff;
                border: none;
                text-align: center;
                padding: 8px;
                font-size: 17px;
                font-weight: 500;
                border-radius: 8px;
                min-width: 150px;
            }
        }
        .comments {
            margin-top: 70px;
            .card-comment {
                display: flex;
                margin-bottom: 16px;
                .comment-round {
                    width: 40px;
                    height: 40px;
                    border-radius: 30px;
                    box-shadow: 0 2px 5px 1px rgba(203, 192, 159, 0.6);
                    font-family: Raleway;
                    font-size: 16px;
                    line-height: 30px;
                    color: #333333;
                    font-weight: 500;
                    text-align: center;
                    padding-top: 5px;
                }
                label {
                    height: 40px;
                }
                textarea {
                    height: 40px;
                    width: 500px;
                    margin: 0 0 0 34px;
                    font-family: Raleway;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 400;
                    padding-top: 10px;
                }
                .default {
                    color: #939597;
                }
                .normal {
                    color: #333333;
                }
                p {
                    width: 500px;
                    font-family: Raleway;
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 400;
                    padding-top: 10px;
                    margin: 0 0 0 34px;
                    word-wrap: break-word;
                }
            }
        }

    }
}

