.customized-select {
    select {
        font-family: Raleway;
        color: #939597;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        width: 40px;
        background: #ffffff url('../../public/images/downArrow.svg') no-repeat top right;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

}
