// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Auth
@import 'auth';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500&display=swap');

* {
    font-family: Raleway, sans-serif;
}

.navbar {
    /*NAVBAR*/
    width: 1372px;
    margin: auto;

    nav {
        padding-bottom: 50px;
        margin-top: 24px;
        width: 1370px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 142px;
        height: 34px;
        margin-top: 14px;
    }

    .round {
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        box-shadow: 0 2px 5px 1px rgba(203, 192, 159, 0.6);
        text-align: center;
    }

    .btn-navbar-project {
        font-family: Raleway;
        color:#000000;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        border: 1px solid #F5DF4D;
        border-radius: 10px;
        width: 186px;
        height: 60px;
    }

    .round:last-child {
        margin-left: 67px;
    }

    .round_img {
        width: 60px;
        height: 60px;
    }

    .round div {
        position: absolute;
        top: 35px;
        margin-left: 80px;
        padding-top: 8px;
        background-color: #FFCC33;
        width: 56px;
        height: 35px;
        border: 1px solid #FFCC33;
        border-radius: 32px;
        text-align: center;
    }

    .round span {
        /*font-family: Graphic;*/
        font-weight: 500;
        font-size: 16px;
        color: #000000;
    }

    .right-nav {
        display: flex;
        justify-content: right;
    }

    .btn-navbar-add-project {
        font-family: Raleway;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        border: 1px solid #F5DF4D;
        border-radius: 10px;
        width: 200px;
        height: 60px;
        margin-left: 40px;
    }

    .plus {
        margin-right: 13px;
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
    }

    .btn-navbar-share {
        font-family: Raleway;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        border: 1px solid #F5DF4D;
        border-radius: 10px;
        width: 142px;
        height: 60px;
        margin-left: 40px;
    }

    .share {
        margin-right: 11px;
        width: 23px;
        height: 23px;
        margin-bottom: 3px;
    }
}

.create-project-page {
    .container {
        max-width: 1372px;
        margin: auto;
    }

    .btn-add-project {
        font-family: Raleway;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        width: 285px;
        height: 66px;
        background-color: #F5DF4D;
        border-radius: 10px;
        box-shadow: 0 2px 5px 1px rgba(203, 192, 159, 0.6);
        margin-bottom: 32px;
    }

    .container-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1372px;
    }

    .container-project-cards {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        width: 1372px;
    }

    /*CARD*/
}

.project-card {
    width: 327px;
    height: 65px;
    background-color: #FDFDFD;
    box-shadow: 0 2px 5px 1px rgba(203, 192, 159, 0.6);
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 32px;
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;

    textarea {
        font-family: Raleway;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        width: 327px;
        height: 30px;
        color: #000000;
        outline: none;
        overflow: hidden;
        resize: none;
        text-align: left;
    }

    p {
        font-family: Raleway;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
    }
    .my-flex {
        display: flex;
        justify-content: space-between;
    }
    img {
        margin-top: -13px;
        margin-right: 25px;
    }
}


.group-div {
    display: flex;
    width: 266px;
    height: 36px;
}

.group-title {
    width: auto;
    text-align: center;
    vertical-align: center;
    font-size: 12pt;
    padding: 6px 8px;
    border-radius: 6px;
    height: 36px;
}

.group-div-background {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1000;
    opacity: .6;
    filter: alpha(opacity=60);
}

.group-count {
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: center;
    font-size: 12pt;
    color: #939597;
    align-self: center;
    margin-left: 5px;
}

.add-group-div {
    text-align: center;
    vertical-align: center;
    font-size: 12pt;
    padding: 4px 8px;
    border: 2px solid #F5DF4D;
    border-radius: 10px;
    display: flex;
    width: 169px;
    height: 36px;
    color: #939597;
}

.add-group-title {
    width: 169px;
    margin-left: 21px;
    font-size: 18px;
}

.my-card {
    box-shadow: 0 0 10px rgba(203, 192, 159, 0.6);
    width: 266px;
    min-height: 48px;
    height: auto;
    max-height: 170px;
    margin-top: 20px;
    background-color: #FDFDFD;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
}

.my-card-title {
    font-size: 18px;
}

.my-card-progress {
    height: 6px;
    background-color: #E0E0E0;
    border-radius: 10px;
    margin-top: 12px;
}

.my-card-progress-fill {
    height: 6px;
    background-color: #F5DF4D;
    border-radius: 10px;
}

.my-card-date {
    margin-top: 24px;
    display: flex;
}

.my-card-date-image {
    width: 16px;
    height: 16px;
    align-self: center;
}

.my-card-date-text {
    color: #939597;
    font-size: 16px;
    margin-left: 7px;
}

.my-card-author {
    box-shadow: 0 0 10px rgba(203, 192, 159, 0.6);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    margin-top: 10px;

}

.add-new-card-button {
    margin-top: 24px;
    margin-left: 21px;
    display: flex;
    width: 130px;
    height: 24px;
}

.add-new-card-button-text {
    width: 100%;
    margin-left: 21px;
    color: #939597;
    font-size: 18px;
}

.group-modal-color {
    position: relative;
    width: 174px;
    height: 200px;
    background-color: #FFFFFF;
    margin: 0px 0px -187px auto;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(203, 192, 159, 0.6);

    padding: 14px 21px 14px 21px;
}

.group-separator {
    margin-top: 12px;
    height: 1px;
    background-color: #939597;
    margin-left: -21px;
    margin-right: -21px;
}

.group-color {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(203, 192, 159, 0.6);
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    //margin-right: 14px;
    //display: flex;
}
