<template>
    <v-row class="ma-0 d-flex" style="height: 100vh; width: 100vw">
        <v-btn class="ma-auto" loading fab large elevation="0" color="white"></v-btn>
    </v-row>
</template>

<script>
    export default {
        name: "Invite",
        async mounted() {
            if (this.$auth.user()) {
                await window.axios.post('/api/accept-invitation', {
                    user_id: this.$auth.user().id,
                    token: this.$route.query.token,
                    project_id: this.$route.query.project_id
                });
                await this.$router.push({ name: 'projects.index' });
            }
            else {
                await this.$router.push({ name: 'auth.login', query: { token: this.$route.query.token, project_id: this.$route.query.project_id } });
            }
        }
    }
</script>

<style scoped>

</style>