<template>
    <div
        class="project-card"
        :id="`project-${item.id}`"
    >
        <div class="my-flex">
            <form v-if="dbclick">
                <label :for="`name-${item.id}`">
                <textarea
                    :id="`name-${item.id}`"
                    placeholder="Type project name here..."
                    v-model="projectName"
                    @keydown.enter.exact.prevent
                    @keyup.enter.exact="changeProjectName"
                >{{ projectName }}</textarea>
                </label>
            </form>
            <p :style="dbclick ? 'display: none' : ''" @keydown.enter.exact.prevent :id="`project-name-${item.id}`">{{ projectName }}</p>
            <img :id="imageId" src="/images/cross.svg" alt="X">
        </div>
    </div>
</template>

<script>
export default {
    name: "ProjectCard",
    props: ['item'],
    data() {
        return {
            counter: 0,
            dbclick: false,
        }
    },
    computed: {
        projectName: {
            get() {
                return this.item.name;
            },
            set(val) {
                this.$emit('updateName', val, this.item.id);
            }
        },
        imageId: {
            get() {
                return `img-${this.item.id}`;
            },
            set(val) {
                // ...
            }
        }
    },
    methods: {
        async changeProjectName() {
            this.dbclick = false;
            this.counter = 0;
            await axios.put(`/api/projects/${this.item.id}`, { name: this.projectName })
        },
        deleteProject(id) {
            this.$emit('delete', id);
        }
    },
    mounted() {
        let vm = this;
        const imageId = this.imageId;
        document.getElementById(`project-name-${this.item.id}`).addEventListener('dblclick', function (event) {
            vm.dbclick = true;
            vm.$nextTick(() => {
                document.getElementById(`name-${vm.item.id}`).focus();
            });
        });
        document.getElementById(`project-${this.item.id}`).addEventListener('click', function (event) {
            if (event.target.id === imageId) {
                vm.deleteProject(vm.item.id);
            }
            else {
                setTimeout(() => {
                    if (!vm.dbclick) {
                        vm.$router.push(`/projects/${vm.item.hash}/${vm.item.slug}`);
                    }
                }, 200);
            }
        })
    }
}
</script>

<style scoped>

</style>
