<template>
    <div class="checkbox-row">
        <input
            class="customized-checkbox"
            type="checkbox"
            :id="`check-${item.id}`"
            v-model="isDone"
        >
        <label :for="`check-${item.id}`"></label>
        <textarea
            class="text"
            :id="`text-${item.id}`"
            placeholder="Type text of the task here"
            v-model="taskDesc"
            @keydown.enter.exact.prevent
            @keyup.enter.exact="changeTaskDescription"
        ></textarea>
        <label :for="`text-${item.id}`"></label>
        <img @click="deleteCheckboxRow" class="trash" src="/images/checkboxTrash.svg" alt="">
    </div>
</template>
<script>
export default {
    props:['item'],
    data() {
        return {
            isDone: false,
            taskDesc: '',
        }
    },
    methods: {
        async changeTaskDescription() {
            console.log('Change')
            document.getElementById(`text-${this.item.id}`).blur();
            //поменять в бд описание подтаска
        },
        deleteCheckboxRow() {
            this.$emit('deleteCheckbox', this.item.id)
        },
    }
}
</script>

<style scoped>

</style>
