<template>
    <div class="card-comment">
        <div class="comment-round">
            {{name}}
        </div>
        <label :for="`comment-text-${comment.id}`"  v-if="comment.default">
            <textarea
                :class="comment.default ? 'default' : 'normal'"
                v-model="comment.text"
                placeholder="If you want to leave comment, start writing here"
                :id="`comment-text-${comment.id}`"
                @keydown.enter.exact.prevent
                @keyup.enter.exact="comment.default ? addComment() : changeCommentText()"
            >
             </textarea>
        </label>
        <p v-else>{{comment.text}}</p>
    </div>
</template>

<script>
export default {
    props:['comment'],
    methods: {
        changeCommentText() {
            console.log('change')
            document.getElementById(`comment-text-${this.comment.id}`).blur();
            //запрос с изменением комментария
        },
        addComment() {
            console.log('add')
            document.getElementById(`comment-text-${this.comment.id}`).blur();
            this.$emit('addComment', this.commentText)
        }
    },
    computed: {
        name() {
            return this.comment.name[0] + this.comment.surname[0];
        },
        commentText: {
            get() {
                return this.comment.text;
            },
            set() {

            }
        }
    }

}
</script>

<style scoped>

</style>
