<template>
    <div v-if="show" class="modal-shadow" @click.self="closeModal">
        <div class="modal">
            <label>
                <textarea
                    @keydown.enter.exact.prevent
                    @keyup.enter.exact="changeCardName"
                    type="text"
                    :id="`card-title-${card.id}`"
                    v-model="cardTitle"
                >{{ cardTitle }}</textarea>
            </label>

            <slot name="body">
                <div class="grid">
                    <p>Created</p> <p>{{ card.created_at }}</p>
                    <label for="deadline">DeadLine</label> <input type="date" id="deadline" v-model="deadline">
                    <p>Sprint</p> <the-select-sprint/>
                    <p>People</p> <the-select-people/>
                </div>
                <div class="grid-2">
                    <p>Text</p>
                    <input type="radio" id="plain" value="plain" v-model="inputDesc">
                    <label for="plain">plain text</label>
                    <input type="radio" id="checkbox" value="checkbox" v-model="inputDesc">
                    <label for="checkbox"> check box</label>
                </div>
                <section class="plain-text">
                     <textarea
                         class="text"
                         v-if="inputDesc === 'plain'"
                         :id="`plain-text-${card.id}`"
                         placeholder="Type text of the task here"
                         v-model="taskText"
                         @keydown.enter.exact.prevent
                         @keyup.enter.exact="changePlainTaskDescription"
                     ></textarea>
                    <label :for="`plain-text-${card.id}`"></label>
                </section>
                <section class="checkBox" v-if="inputDesc === 'checkbox'">
                    <div
                        v-for="item in checkboxes"
                        :key="item.id"
                    >
                        <the-checkbox-row
                            :item="item"
                            @deleteCheckbox="deleteCheckboxRow($event)"
                        />
                    </div>
                    <button
                        class="add-checkbox"
                        @click="addCheckbox"
                    >+ Add check box</button>
                </section>
                <div class="add-file" >
                    <img class="paperclip" src="/images/paperclip.svg" alt="">
                    <label>Add file
                        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                    </label>
                </div>
                <a href="" download="">
                    <p class="file" @click="downloadFile" v-if="file !== ''">{{this.file.name}}</p>
                </a>

            </slot>
            <section class="comments">
                <the-comment
                    :comment="defaultComment"
                    @addComment="addComment($event)"
                />
                <div
                    v-for="item in comments"
                    :key="item.id"
                >
                    <the-comment
                        :comment="item"
                    />
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    import "../../sass/_modal.scss"
    import TheSelectSprint from "./TheSelectSprint";
    import TheCheckboxRow from "./TheCheckboxRow";
    import TheComment from "./TheComment";
    import TheSelectPeople from "./TheSelectPeople";

    export default {
        name: "ModalWindow",
        components: {
            TheComment,
            TheCheckboxRow,
            TheSelectSprint,
            TheSelectPeople
        },
        props: ['card'],
        comments: {
            TheSelectSprint,
            TheCheckboxRow,
            TheComment,
        },
        data() {
            return {
                show: false,
                inputDesc: 'plain',
                checkboxId: 4,
                cardName: this.card.name,
                file: '',
                taskText: '',
                commentId: 2,
                defaultComment: {
                    id: 0,
                    name: 'Anastasia',
                    surname: 'Lonshakova',
                    text: '',
                    default: true
                },
                checkboxes: [
                    {
                        id: 0,
                        checked: false,
                        text: ''
                    },
                    {
                        id: 1,
                        checked: false,
                        text: ''
                    },
                    {
                        id: 2,
                        checked: false,
                        text: ''
                    },
                    {
                        id: 3,
                        checked: false,
                        text: ''
                    },
                ],
                comments: [
                    {
                        id: 1,
                        name: 'Anastasia',
                        surname: 'Lonshakova',
                        text: 'kill me pls'
                    },
                ]
            }
        },
        methods: {
            closeModal() {
                this.show = false
            },
            addCheckbox() {
                this.checkboxes.push({
                    id: this.checkboxId,
                    checked: false,
                    text: ''
                })
                this.id++;
            },
            changeCardName() {
                document.getElementById(`card-title-${this.card.id}`).blur();
                ////////////////////////////////
                //CHANGE CARD NAME IN DB
                ///////////////////////////////
                console.log('Change Card name')
            },
            changePlainTaskDescription() {
                document.getElementById(`plain-text-${this.card.id}`).blur();
                /////////////////////////////////////////////
                //CHANGE PLAIN TEXT DESCRIPTION IN DB
                ////////////////////////////////////////////
                console.log('Change plain task description')
            },
            async handleFileUpload(){
                //////////////////////
                //ADD FILE TO DB
                ////////////////////////
               this.file = this.$refs.file.files[0];
               console.log(this.file)
            },
            addComment(val) {
                console.log(val)
                if(val.length <= 80) {
                    //////////////////////
                    //ADD COMMENT TO DB
                    /////////////////////
                    this.comments.unshift({
                        id: this.commentId,
                        name: 'Nikita',
                        surname: 'Makovey',
                        text: val,
                    })
                    this.commentId++
                    this.defaultComment.text = ''
                }

            },
            downloadFile() {

            },
            async deleteCheckboxRow(val) {
                this.checkboxes = this.checkboxes.filter(function (e) {
                    return e.id !== val
                })
            }
        },
        computed: {
            cardTitle: {
                get() {
                    return this.card.name;
                },
                set(value) {
                    //
                }
            },
            deadline: {
                get() {
                    return this.card.deadline;
                },
                set(value) {
                    //
                }
            },
        },
    }
</script>

<style scoped>

</style>
