<template>
    <div class="navbar">
        <nav>
            <router-link to="/">
                <img class="logo" src="/images/logo.svg" alt="Drello">
            </router-link>

            <div class="right-nav">

                <router-link to="/">
                    <button
                        v-if="notStartPage"
                        class="btn-navbar-project"
                    >
                        Project page
                    </button>
                </router-link>

                <v-menu offset-y v-if="isShared" :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                        <button
                            class="btn-navbar-share"
                            v-bind="attrs"
                            v-on="on"
                        >
                            <img class="share" src="/images/share.svg" alt="+">
                            Share
                        </button>
                    </template>
                    <v-card
                        style="background: #FFFFFF; box-shadow: 0 2px 5px 1px rgba(203, 192, 159, 0.6);
                        border-radius: 8px; width: 614px;"
                    >
                        <v-card-title
                            style="font-style: normal; font-weight: 500;
                            font-size: 24px; line-height: 24px; color: #4F4F4F;"
                        >Share by link</v-card-title>
                        <v-card-text class="d-flex" style="width: 100%;">
                            <input
                                type="text"
                                height="40px"
                                class="ma-0 pa-0"
                                style="height: 40px; border: 1px solid #F5DF4D;
                                border-radius: 6px 0 0 6px; padding-left: 20px !important;
                                display: flex; flex: 0 0 70%; max-width: 70%;"
                                :value="shareLink"
                                id="share-link__input"
                            >
                            <v-btn
                                height="40px" outlined
                                style="border: 1px solid #F5DF4D; align-items: center;
                                border-radius: 0 6px 6px 0;
                                text-align: center; display: flex; flex: 0 0 30%; max-width: 30%;"
                                @click="copy"
                            >
                                <span
                                    style="color: black !important; text-transform: none;
                                    font-style: normal; font-weight: 500; font-size: 18px; line-height: 32px;"
                                >Copy link</span>
                            </v-btn>
                        </v-card-text>
                        <v-card-title
                            style="font-style: normal; font-weight: 500;
                            font-size: 24px; line-height: 24px; color: #4F4F4F;"
                        >Share by email</v-card-title>
                        <v-card-text class="d-flex" style="width: 100%;">
                            <input
                                type="email"
                                height="40px"
                                class="ma-0 pa-0"
                                style="height: 40px; border: 1px solid #F5DF4D;
                                border-radius: 6px 0 0 6px; padding-left: 20px !important;
                                display: flex; flex: 0 0 70%; max-width: 70%;"
                                placeholder="example@mail.com"
                                v-model="invitedEmail"
                            >
                            <v-btn
                                height="40px" outlined
                                style="border: 1px solid #F5DF4D; align-items: center;
                                border-radius: 0 6px 6px 0;
                                text-align: center; display: flex; flex: 0 0 30%; max-width: 30%;"
                                @click="invite"
                            >
                                <span
                                    style="color: black !important; text-transform: none;
                                    font-style: normal; font-weight: 500; font-size: 18px; line-height: 32px;"
                                >Invite</span>
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </v-menu>

                <button
                    class="btn-navbar-add-project"
                    @click="add"
                >
                    <img class="plus" src="/images/plus.svg" alt="+">
                    Add {{ text }}
                </button>

                <button
                    class="btn-navbar-add-project"
                    v-if="$auth.user()"
                    @click="logout"
                >
                    Log out
                </button>

            </div>
        </nav>
    </div>
</template>

<script>
export default {
    props: ['text', 'isShared', 'notStartPage', 'shareLink', 'projectId'],
    data() {
        return {
            url: `/images/logo.svg`,
            invitedEmail: '',
        }
    },
    methods: {
        copy() {
            const shareLinkInput = document.getElementById('share-link__input');
            shareLinkInput.select();
            document.execCommand('copy');
        },
        add() {
            this.$emit('click');
        },
        async logout() {
            await this.$auth.logout({});
        },
        async invite() {
            await window.axios.post('/api/invite', { email: this.invitedEmail, project_id: this.projectId });
            this.invitedEmail = '';
        }
    }

}
</script>

<style scoped>

</style>
