<template>
    <div class="customized-select">
        <label>
            <select name="select"> <!--Supplement an id here instead of using 'name'-->
                <option value="value1" selected>1</option>
                <option value="value2">2</option>
                <option value="value3">3</option>
                <option value="value4">4</option>
                <option value="value5">5</option>
                <option value="value6">6</option>
                <option value="value7">7</option>
                <option value="value8">8</option>
                <option value="value9">9</option>
            </select>
        </label>
    </div>
</template>

<script>
import "../../sass/_select-sprint.scss"
export default {

}
</script>

<style scoped>

</style>
