<template>
    <div class="select-people">
        <v-combobox
            v-model="chips"
            :items="items"
            chips
            clearable
            label="Write an email to search"
            multiple
            solo
        >
            <template v-slot:item="{ item }">
                <span style="font-weight: 600;">{{ item }}</span>
            </template>
            <template v-slot:selection="{ attrs, item, select, selected }">
                <v-chip
                    v-bind="attrs"
                    :input-value="selected"
                    close
                    @click="select"
                    @click:close="remove(item)"
                >
                    <strong>{{ item }}</strong>&nbsp;
                </v-chip>
            </template>
        </v-combobox>
    </div>
</template>

<script>
export default {
    data () {
        return {
            chips: [],
            items: ['nicks.fin@gmail.com', 'rudmira@gmail.com', 'Rewasadljklh@mail.ru'],
        }
    },
    methods: {
        remove (item) {
            this.chips.splice(this.chips.indexOf(item), 1)
            this.chips = [...this.chips]
        },
    }
}
</script>

<style scoped>

</style>
