<template>
    <div style="width: 100%; margin-bottom: 50px" v-if="projectData.boards">
        <button
            v-for="(tab, i) in projectData.boards" :key="i"
            :class="activeBoardId ?
                    (activeBoardId === tab.id ? `tab-container` : `tab-container--disabled`) :
                    (i === 0 ? `tab-container` : `tab-container--disabled`)"
            :style="i !== 0 ?
                    `left: ${(31 + i * 137)}px; z-index: ${(projectData.boards.length - i)}` :
                    `z-index: ${(projectData.boards.length - i)}; left: 31px;`"
            @click="$emit('changeActiveBoard', tab.id)"
        >
            <div style="display: flex; width: 137px">
                <div style="margin-left: 20px;white-space: nowrap;
                overflow: hidden; margin-right: 5px; text-overflow: ellipsis;">
                    {{ tab.name }}
                </div>
                <div @click="deleteTab(tab.id)" style="margin-left: auto; margin-right: 10px;"><v-icon size="1rem">mdi-close</v-icon></div>
            </div>
        </button>
        <v-text-field
            placeholder="Type name here..."
            v-if="blankBoard"
            v-model="blankBoard.name"
            class="tab-container blank-board__input mt-0 pb-0"
            :style="`left: ${(31 + projectData.boards.length * 137)}px; z-index: 0`"
            style="font-size: 0.9rem;"
        ></v-text-field>
        <button
            type="button"
            class="add-board--button theme--light v-size--default"
            :disabled="!!blankBoard"
            :style="`position: absolute; width: 34px; height: 34px;
            left: ${(31 + (blankBoard ? projectData.boards.length + 1 : projectData.boards.length) * 137 + 18)}px;`"
            @click="addBlankBoard"
        >
            <div style="width: 34px; height: 34px;"><v-icon>mdi-plus</v-icon></div>
        </button>
    </div>
</template>

<script>
    export default {
        name: "BoardTabs",
        props: ['projectData', 'activeBoardId'],
        data() {
            return {
                blankBoard: null,
            }
        },
        methods: {
            addBlankBoard() {
                this.$emit('changeActiveBoard', -1);
                this.blankBoard = {
                    name: '',
                };
                this.$nextTick(() => {
                    document.querySelector('.blank-board__input input').focus();
                    document.querySelector('.blank-board__input input')
                        .addEventListener('keyup', async (event) => {
                            if (event.key === 'Enter') {
                                await this.saveBlank();
                            }
                        });
                })
            },
            async saveBlank() {
                if (this.blankBoard && this.blankBoard.name) {
                    const lastBoard = await axios.post(`/api/projects/${this.projectData.id}/boards`, this.blankBoard);
                    this.blankBoard = null;
                    await this.$emit('update');
                    this.$nextTick(() => {
                        this.$emit('changeActiveBoard', lastBoard.data.id);
                    });
                }
            },
            async deleteTab(id) {
                await axios.delete(`/api/projects/${this.projectData.id}/boards/${id}`);
                await this.$emit('update');
                this.$nextTick(() => {
                    this.$emit('changeActiveBoard');
                });
            }

        }
    }
</script>

<style lang="scss">
.blank-board__input {
    .v-input__control {
        padding-left: 5px;

        input {
            width: 120px;
            padding-left: 2px;
            padding-right: 2px;
        }
        input:focus-visible {
            border: none !important;
        }
    }
}
.tab-container {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    background: #FFFFFF;
    border: 1px solid #F5DF4D;
    box-sizing: border-box;
    border-radius: 0 20px 0 0;

    position: absolute;
    width: 154px;
    height: 34px;
}

.tab-container--disabled {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    background: #F9EC94;
    border: 1px solid rgba(147, 149, 151, 0.3);
    box-sizing: border-box;
    border-radius: 0 20px 0 0;

    position: absolute;
    width: 154px;
    height: 34px;
}

.add-board--button {
    div {
        font-size: 28px;
        font-weight: 500;
    }
}
</style>
