<template>
    <div style="height: 100%; width: 100%; display: flex; overflow: auto">
        <div v-for="group in activeBoard.groups" :key="group.id"
             style="width: 300px; height: 100%; min-width: 300px">
            <div class="group-div">
                <div class="group-title" :style="group.color ? `background-color: ${group.color}` : ``">
                    {{ group.name }}
                </div>
                <div class="group-count">{{ group.cards.length }}</div>

                <div style="margin: auto 0 auto auto">
                    <img class="plus" src="/images/more-horizontal.png" alt="..."
                         style="width: 24px; height: 24px"
                         @click="showColorPalette(group.id)"
                    >
                    <img class="plus" src="/images/group-plus.png" alt="+"
                         style="width: 24px; height: 24px"
                         @click="addBlankCard(group.id)">

                </div>
            </div>

            <div class="group-modal-color"
                 :style="`z-index: 10; visibility:` + (groupColorPaletteId === group.id ? `visible` : `hidden`) ">
                <div style="display: flex" @click="deleteGroup(group.id)">
                    <img src="/images/trash.png" style="width: 24px; height: 24px">
                    <div style="margin-left: 15px">Delete group</div>
                </div>

                <div class="group-separator"/>

                <div style="display: flex; margin-top: 8px">
                    <img src="/images/edit_pen.png" style="width: 24px; height: 24px">
                    <div style="margin-left: 15px; color: #939597">Colors</div>
                </div>

                <div style="margin-top: 8px; display: grid; grid-template-columns: repeat(4, 1fr)">
                    <div class="group-color" v-for="color in colors"
                         :key="color.id" :style="`background-color: ${color.rgb}`"
                         @click="setGroupColor(group.id, color.rgb)">
                    </div>
                </div>
            </div>

            <div
                v-for="card in group.cards" :key="card.id"
                @click="$emit('activateModal', card)"
            >
                <draggable class="list-group" group="people">
                    <div class="my-card">
                        <div style="display: flex;">
                            <div v-if="card.name" class="my-card-title">{{ card.name }}</div>
                            <v-btn
                                icon
                                @click="deleteCard(card.id)"
                                @click.stop
                                style="width: 20px; height: 20px; font-size: 20px;
                                font-weight: 700; text-align: center; vertical-align: middle;
                                margin-left: auto; margin-right: 0"
                            ><img style="z-index: 0" src="/images/cross.svg"/></v-btn>
                        </div>
                        <div v-if="card.progress" class="my-card-progress">
                            <div class="my-card-progress-fill" :style="`width: ${card.progress / 100 * 139}px`"/>
                        </div>
                        <div v-if="card.date" class="my-card-date">
                            <img class="my-card-date-image" src="/images/clock.png" alt="clock">
                            <div class="my-card-date-text">{{ card.date }}</div>
                        </div>

                        <div v-if="card.workers" class="my-card-author">
                            <div style="padding: 10px 9px; font-weight: bold">{{ card.workers }}</div>
                        </div>
                    </div>

                </draggable>

            </div>

            <div v-if="blankCard && blankCard.group_id === group.id">
                <div class="my-card">
                    <div style="display: flex">
                        <v-text-field
                            placeholder="Type name here..."
                            v-model="blankCard.name"
                            class="blank-card__input"
                        ></v-text-field>
                    </div>
                </div>
            </div>

            <div class="add-new-card-button"
                 @click="addBlankCard(group.id)"
            >
                <img class="plus" src="/images/group-plus.png" alt="+"
                     style="width: 24px; height: 24px">
                <div class="add-new-card-button-text">Add new</div>
            </div>

        </div>

        <div
            v-if="blankGroup"
            style="width: 300px; height: 100%; min-width: 300px"
        >
            <div class="group-div">
                <div class="group-title">
                    <v-text-field
                        placeholder="Type name here..."
                        v-model="blankGroup.name"
                        class="blank-group__input"
                    ></v-text-field>
                </div>
            </div>
        </div>

        <div class="add-group-div" @click="addBlankGroup">
            <img
                class="plus" src="/images/group-plus.png" alt="+"
                style="width: 24px; height: 24px"
            >
            <div class="add-group-title">
                Add group
            </div>
        </div>

    </div>
</template>

<script>
    import draggable from "vuedraggable";

    export default {
        name: "BoardGroups",
        props: ['activeBoard'],
        components: {
            draggable,
        },
        data() {
            return {
                groupColorPaletteId: null,
                colors: [
                    {rgb: "#D0C5FF", id: 0}, {rgb: "#94F9A4", id: 1}, {rgb: "#F994C5", id: 2}, {rgb: "#F9EC94", id: 3},
                    {rgb: "#A5A4FF", id: 4}, {rgb: "#CCA4FF", id: 5}, {rgb: "#F2FAC5", id: 6}, {rgb: "#C1F994", id: 7},
                    {rgb: "#94D5F9", id: 8}, {rgb: "#94F9E1", id: 9}, {rgb: "#F99494", id: 10}, {rgb: "#F9D794", id: 11}
                ],
                blankCard: null,
                blankGroup: null,
            }
        },
        methods: {
            showColorPalette(groupId) {
                if (this.groupColorPaletteId === groupId) {
                    groupId = -1
                }
                this.groupColorPaletteId = groupId
            },

            addBlankCard(groupId) {
                const group = this.activeBoard.groups.find(o => o.id === groupId);
                this.blankCard = {
                    name: '',
                    group_id: group.id,
                };
                this.$nextTick(() => {
                    document.querySelector('.blank-card__input input').focus();
                    document.querySelector('.blank-card__input input')
                        .addEventListener('keyup', async (event) => {
                            if (event.key === 'Enter') {
                                await this.addCard();
                            }
                        });
                });
            },

            addBlankGroup() {
                const activeBoardId = this.activeBoard ? this.activeBoard.id : null;
                if (activeBoardId) {
                    this.blankGroup = {
                        name: '',
                        board_id: activeBoardId,
                    };
                    this.$nextTick(() => {
                        document.querySelector('.blank-group__input input').focus();
                        document.querySelector('.blank-group__input input')
                            .addEventListener('keyup', async (event) => {
                                if (event.key === 'Enter') {
                                    await this.addGroup();
                                }
                            });
                    });
                }
            },

            async deleteGroup(id) {
                await axios.delete(`/api/groups/${id}`);
                this.$emit('update');
            },

            async setGroupColor(id, color) {
                await axios.put(`/api/groups/${id}`, { color });
                this.$emit('update');
            },

            async deleteCard(id) {
                await axios.delete(`/api/cards/${id}`);
                this.$emit('update');
            },

            async addGroup() {
                if (this.blankGroup && this.blankGroup.name) {
                    await axios.post(`/api/groups`, this.blankGroup);
                    this.blankGroup = null;
                    this.$emit('update');
                }
            },

            async addCard() {
                if (this.blankCard && this.blankCard.name) {
                    await axios.post(`/api/cards`, this.blankCard);
                    this.blankCard = null;
                    this.$emit('update');
                }
            },
        }
    }
</script>

<style scoped>

</style>
