<template>
    <div class="auth">
        <div class="main">
            <div class="title-container">
                    <span class="navbar-title centered">
                        <span class="text-yellow">Welcome to </span>
                        <span class="text-gray">Dre</span><span class="text-yellow">ll</span><span class="text-gray">o</span>
                    </span>
            </div>
            <div class="main-container">
                <div class="sign-up-form">
                    <div class="form-background">

                    </div>
                    <div class="form">
                        <div class="input-container">
                            <div class="email-input">
                                <label class="label" for="sign-up-email">
                                    E-mail
                                </label>
                                <input type="email" id="sign-up-email" v-model="email">
                            </div>
                            <div class="password-input">
                                <label class="label" for="sign-up-password">
                                    Password
                                </label>
                                <input type="password" id="sign-up-password" v-model="password">
                            </div>
                            <div class="action-container">
                                <div class="button">
                                    <button class="submit-button" @click="register">
                                        Sign Up
                                    </button>
                                </div>
                                <div class="action-subtitle">
                                    <router-link :to="{ name: 'auth.login', query: $route.query }" class="link">Log In</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="picture">
                    <div class="image-container">
                        <img src="/images/auth.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SignUp",
        data() {
            return {
                email: '',
                password: '',
            }
        },
        methods: {
            async register() {
                const {email, password} = this;
                let data = {email, password};
                if (this.$route.query.token && this.$route.query.project_id) {
                    data.token = this.$route.query.token;
                    data.project_id = this.$route.query.project_id;
                }
                await this.$auth.register({ data: data });
            }
        }
    }
</script>

<style scoped>

</style>