<template>
    <div class="create-project-page">
        <div class="container">
            <the-navbar
                text="project"
                :isShared="false"
                @click="addProject"
            />

            <div class="container-btn">
                <button
                    class="btn-add-project"
                    @click="addProject"
                >
                    <img class="plus" src="/images/plus.svg" alt="+">
                    Add project
                </button>
            </div>
<!--            <v-row class="ma-0 pa-5">
                <v-col v-for="item in items" :key="item.id" style="flex: 0 0 20%; max-width: 20%;">

                </v-col>
            </v-row>-->
            <div class="container-project-cards">
                <div v-for="item in items" :key="item.id">
                    <project-card :item="item" @updateName="updateProjectName" @delete="deleteProject"/>
                </div>
                <div v-if="createdElement">
                    <div
                        class="project-card"
                    >
                        <form>
                            <label for="name-0">
                            <textarea
                                id="name-0"
                                v-model="createdElement.name"
                                placeholder="Type project name here..."
                                autofocus
                                @keydown.enter.exact.prevent
                                @keyup.enter.exact="store"
                            >{{ createdElement.name }}</textarea>
                            </label>
                            <template v-for="(error, i) in errors">
                                <br>
                                <span style="color: red" :key="i">{{ error }}</span>
                            </template>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import ProjectCard from "../../components/ProjectCard";
    import TheNavbar from "../../components/TheNavbar";

    export default {
        name: "Index",
        components: {
            ProjectCard,
            TheNavbar
        },
        data() {
            return {
                items: [],
                createdElement: null,
                errors: []
            }
        },
        async mounted() {
            await this.init();
        },
        methods: {
            async deleteProject(id) {
                await axios.delete(`/api/projects/${id}`);
                await this.init();
            },
            updateProjectName(name, id) {
                let item = this.items.find(o => o.id === id);
                item.name = name;
            },
            async init() {
                const response = await axios.get('/api/projects');
                this.items = response.data;
            },
            addProject() {
                this.createdElement = { name: '', user_id: this.$auth.user().id };
            },
            async store() {
                if (!this.createdElement.name) {
                    this.errors = ['The name field is required.'];
                    return;
                }
                await axios.post('/api/projects', this.createdElement);
                this.createdElement = null;
                await this.init();
            }
        }
    }
</script>

<style scoped>

</style>
