<template>
    <div>
        <div style="margin-left: 30px; padding-bottom: 40px;">
            <the-navbar
                text="new desk"
                :isShared="true"
                :notStartPage="true"
                :projectId="projectData.id"
                :shareLink="projectData.invited_token"
            />
            <div style="width: 100%; margin-left: 20px;">
                <span
                    class="mr-8"
                    style="font-size: 1.6rem; font-weight: 600; color: #939597;
                    text-decoration: underline; text-decoration-color: #F5DF4D; vertical-align: bottom;"
                >{{ projectData.name }}</span>
                <v-btn
                    style="height: 40px; width: 40px; box-shadow: 0 2px 5px 1px rgba(203, 192, 159, 0.6);" fab color="white"
                    v-for="(user, i) in projectData.users" :key="i"
                    class="mx-2"
                >
                    <span style="font-size: 1rem;">{{ user.email.substring(0, 2).toUpperCase() }}</span>
                </v-btn>
            </div>
        </div>

        <board-tabs
            :projectData="projectData"
            :activeBoardId="activeBoardId"
            @changeActiveBoard="$event => activeBoardId = $event"
            @update="refresh"
        ></board-tabs>

        <div style="height: 500px; width: 100%; margin-left: 30px" v-if="activeBoard">

            <board-groups
                :activeBoard="activeBoard"
                @update="refresh"
                @activateModal="showModal"
            ></board-groups>

        </div>

        <the-modal
            ref="modal"
            :card="card"
        ></the-modal>

    </div>
</template>

<script>
import TheNavbar from "../../components/TheNavbar";
import TheModal from "../../components/TheModal";
import BoardTabs from "../../components/project/BoardTabs";
import BoardGroups from "../../components/project/BoardGroups";

export default {
    name: "Show",
    components: {
        BoardGroups,
        BoardTabs,
        TheNavbar,
        TheModal
    },
    data() {
        return {
            activeBoardId: null,
            card: {},
            projectData: {},
        }
    },
    computed: {
        activeBoard() {
            if (!this.projectData.boards || !this.projectData.boards.length) {
                return null;
            }
            return this.activeBoardId ?
                this.projectData.boards.find(o => o.id === this.activeBoardId) : this.projectData.boards[0];
        }
    },
    async mounted() {
        await this.refresh();
    },
    methods: {
        async refresh() {
            const response = await axios.get(`/api/projects/1?hash=${this.$route.params.hash}&slug=${this.$route.params.slug}`);
            if (response.data.users.map(o => o.id).includes(this.$auth.user().id)) {
                this.projectData = response.data;
            }
            else {
                await this.$router.push({ name: 'projects.index' });
            }
        },

        showModal(prop) {
            this.$refs.modal.show = true
            this.card = prop
        },

    }
}
</script>
