<template>
    <v-app>
        <main style="min-height: 100vh; min-width: 100vw">
            <router-view/>
        </main>
    </v-app>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style scoped>

</style>